.topImage {
    width: 100%;
    background-image: url("../../images/TopImage.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;

    
}

.my__posts {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}

