.userCard {
    display: flex;
    margin: 20px;
    font-size: 20px;
}

.userCard span {
    margin-right: 15px;
}

.userPhoto {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #CCCCCC;
    border: 1px solid #333333;
}

