.userCard {
    display: flex;
    margin: 20px;
    font-size: 20px;
}

.userCard span {
    margin-right: 15px;
}

.userPhoto {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #CCCCCC;
    border: 1px solid #333333;
    transition: background-color linear 0.2s;
    transition: box-shadow linear 0.2s;
}

.userName {
    font-weight: 900;
    text-decoration: none;
    color: #111;
    font-size: 25px;
}
.userStatus {
    font-weight: 400;
    font-size: 25px;
    padding: 5px 15px;
    color: darkblue;
}
.userNameContainer {
    width: fit-content;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    transition: background-color linear .2s;
}
.userNameContainer:hover {
    background-color: rgb(200, 200, 200, 0.8);
}
.userNameContainer:active {
    background-color: rgb(150, 150, 150, 0.8);
}

.userPhoto:hover {
    background-color: #DDDDDD;
    box-shadow: 0 0 7px black;
}
.userPhoto:active {
    background-color: #AAAAAA;
    box-shadow: 0 0 7px black;
}

