.Like {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #40C057;
    font-weight: 400;
    box-shadow: 0 2px 3px #555555;
    margin-left: 5px;
}
.Like:hover {
    background-color: lightgreen;
}

.Like:active {
    transform: translateY(2px);
    background-color: #2e9441;
}

.LikeButton {
    display: none;
}
.LikeNumber {
    font-size: 20px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #40C057;
    font-weight: 400;
    box-shadow: 0 2px 3px #555555
}

.LikePanel {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 70px;
    justify-content: flex-end;
}

.postAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #CCCCCC;
    border: 1px solid #333333;
}

.PostItem {
    margin: 20px 0;
}

.PostUpperPart {
    display: flex;
    margin-bottom: 10px;
}

.PostInner {
    margin-left: 20px;
    width: 80%;
    padding-left: 10px;
    background-color: gainsboro;
}

.PostOwner {
    font-weight: 900;
    font-size: 15px;
    
}