.Like {
    font-size: 20px;
    font-weight: bold;
    background-color: greenyellow;
    color: darkslategray;
    cursor: pointer;
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
.LikeButton {
    display: none;
}
.LikeNumber {
    font-size: 25px;
    background-color: greenyellow;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
}
.LikePanel {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 70px;
    justify-content: end;
}

.postAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('Avatar2.jpg');
    background-size: cover;
    background-position: center;
}

.PostItem {
    margin: 20px 0;
}

.PostUpperPart {
    display: flex;
    margin-bottom: 10px;
}

.PostInner {
    margin-left: 20px;
    width: 80%;
    padding-left: 10px;
    background-color: gainsboro;
}

.PostOwner {
    color: black;
    font-weight: bold;
    font-size: 15px;
    
}