.nav {
    grid-area: n;
    font-size: 30px;
    text-align: center;
    display: block;
    background-color: #333333;
    color: #bababa;
}

.item {
    color: #bababa;
    text-decoration: none;
}

.itemGlob {
    display: flex;
    align-items: center;
    background-color: #333333;
    padding: 5px 30px;
    cursor: pointer;
    border-bottom: 1px solid #444444;
    transition: background-color linear 0.2s;   
}

.imgIcon{
    height: 30px;
    margin-right: 30px;
}

.itemGlob:first-child {
    border-top: 1px solid #444444;
}

.itemGlob:hover {
    background-color: #555555;
}
.itemGlob:active {
    background-color: #666666;
}

.active {
    color: #40C057;
    text-decoration: none;
    
}

@media (max-width: 1220px) {
    .nav {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    .nav {
        font-size: 14px;
        /* position: sticky;
        top: 0;
        z-index: 100; */
    }
    .navLinks{
        display: flex;
        justify-content: space-around; 
        position: sticky; 
        top: 0;
        background-color: #333333
    }
    .itemGlob {
        padding: 2px 0;
        height: 25px;
    }
    .imgIcon{
        margin-right: 5px;
        height: 20px;
    }
}