.nav {
    grid-area: n;
    font-size: 30px;
    text-align: center;
    display: block;
    background-color: #333333;
    color: #bababa;
}

.item {
    color: #bababa;
    text-decoration: none;
}

.itemGlob {
    display: flex;
    align-items: center;
    background-color: #333333;
    padding: 5px 0 5px;
    cursor: pointer;
    border-bottom: 1px solid #444444;   
}

.imgIcon{
    height: 30px;
    margin: 0 30px;
}

.itemGlob:first-child {
    border-top: 1px solid #444444;
}

.itemGlob:hover {
    background-color: #555555;
}

.active {
    color: #40C057;
    text-decoration: none;
    
}

@media (max-width: 1200px) {
    .nav {
        font-size: 20px;
    }
}

