.profile__info {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: left;
}

.profile__avatar {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    background-image: url("../../../images/Avatar2.jpg");
    background-size: cover;
    background-position: center;
}

.profile__description {
    font-size: 25px;
    color: black;
    margin-left: 30px;
}

.inputPhoto{
    display: none;
}