.app-wrapper {
    margin: 0 auto;
    display: grid;
    min-width: 1200px;
    min-height: 100vh;
    grid-template-areas: 
    /* "h h" */
    "n c";
    /* grid-template-rows: 50px 1fr; */
    grid-template-columns: 3fr 10fr;
    /* grid-gap: 10px; */
    background-color: #f2f2f2;
    color: #111111;
    /* background-image: url('redux/images/backgrounds/lun.jpg');
    background-size: cover;
    background-repeat: repeat; */
    font-family: 'Roboto', sans-serif;
}

.app-wrapper-content {
    grid-area: c;
    /* background-color: rgb(185, 190, 196); */
    
    margin: 15px 30px;
    padding: 10px;
    border-radius: 15px;

}
