.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 250px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.header {
    grid-area: h;
    border: 5px solid black;
    border-radius: 10px;
}

.nav {
    grid-area: n;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}

.content {
    grid-area: c;
    background-color: grey;
    border: 5px solid black;
    border-radius: 10px;
}