.dialogPage {
    display: grid;
    grid-template-columns: 2fr 5fr;
    color: white
}

.dialogItems {
    padding: 10px;
    display: block;
}

.border {
    width: 3px;
    height: 100%;
    background-color: black;
    content: '';
}

.rightPanel {
    display: flex;
}

.messagesPanel {
    width: 100%
}

