.dialogPage {
    display: grid;
    grid-template-columns: 2fr 5fr;
    color: white
}

.dialogItems {
    padding: 10px;
    display: block;
}

.rightPanel {
    border-left: 4px solid black;
}

.messagesPanel {
    width: 100%
}

